* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: -apple-system, sans-serif;
}

:root {
    --bg-color: #000;
    --snd-bg-color: #111;
    --text-color: #fff;
    --main-color: #45ffca;
}

section {
    min-height: 100vh;
    padding: 6.5rem 8% 2rem;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

span {
    color: var(--main-color);
}

.plans {
    background: var(--snd-bg-color);
}

.plans-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    align-items: center;
    gap: 2.3rem;
    margin-top: 4.2rem;
}

.heading {
    text-align: center;
    font-size: 6.5rem;
}

.flash-message {
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    position: relative;
    transition: opacity 0.5s ease-in-out;
}

.success { background-color: #28a745; } /* Hijau */
.warning { background-color: #ffc107; } /* Kuning */
.danger  { background-color: #dc3545; } /* Merah */

.close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.box {
    padding: 30px 30px 50px 30px;
    height: 40rem;
    background: var(--bg-color);
    border-radius: 28px;
    border: 1px solid transparent;
    box-shadow: 0 0 5px var(--main-color);
    transition: all 0.5s ease;
    cursor: pointer;
}

.box h3 {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 10px;
}

.box h2 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.box ul li {
    list-style: disc;
    font-size: 1.7rem;
    padding-bottom: 1.2rem;
}

.box a {
    display: inline-block;
    font-size: 22px;
    line-height: 1.2rem;
    font-weight: 700;
    padding: 7px 0;
    color: var(--text-color);
    border-bottom: 2px solid #5d6c83;
    transition: all 0.5s ease;
}

.box i {
    vertical-align: middle;
    font-size: 25px;
    color: var(--main-color);
    margin-left: 5px;
}

.box a:hover {
    border-bottom: 2px solid var(--main-color);
}

.box:hover {
    border: 1px solid var(--main-color);
    transform: translateY(-5px) scale(1.03);
}
