<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PanaCea - Basic</title>
    <link rel="icon" type="image/png" href="../static/logoo.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='basic.css') }}">
</head>
<body>
<div class="container">
    <h1 class="judul">BASIC</h1>
      <h1><span>Smart</span> Workout</h1>

<div class="table-plans">
    <table>
        <tr>
            <th>Hari</th>
            <th>Fokus Latihan</th>
            <th>Latihan</th>
        </tr>
        <tr>
            <td>Hari 1</td>
            <td>Full Body</td>
            <td>Push-Up, Squat, Lunges, Plank, Jumping Jacks</td>
        </tr>
        <tr>
            <td>Hari 2</td>
            <td>Upper Body</td>
            <td>Incline Push-Up, Pike Push-Up, Triceps Dips, Shoulder Taps</td>
        </tr>
        <tr>
            <td>Hari 3</td>
            <td>Lower Body</td>
            <td>Squat, Step-Up, Wall Sit, Glute Bridge</td>
        </tr>
        <tr>
            <td>Hari 4</td>
            <td>Abs</td>
            <td>Crunches, Leg Raises, Russian Twists, Plank to Elbow</td>
        </tr>
        <tr>
            <td>Hari 5</td>
            <td>Cardio</td>
            <td>Jumping Jacks, High Knees, Mountain Climbers, Burpees</td>
        </tr>
        <tr>
            <td>Hari 6-7</td>
            <td>Rest & Recovery</td>
            <td>-</td>
        </tr>
    </table>

      <h1><span>Beginner</span> Workout</h1>
        <table>
        <tr>
            <th>Hari</th>
            <th>Latihan</th>
        </tr>
        <tr>
            <td>Hari 1 - Gerakan Ringan</td>
            <td>Jalan Santai, Peregangan, Seated Leg Lifts</td>
        </tr>
        <tr>
            <td>Hari 2 - Latihan Dasar</td>
            <td>Wall Push-Up, Bodyweight Squat, Step Touch</td>
        </tr>
        <tr>
            <td>Hari 3 - Istirahat / Kardio Ringan</td>
            <td>Jalan Cepat, Peregangan</td>
        </tr>
        <tr>
            <td>Hari 4 - Gerakan Sederhana</td>
            <td>Chair Sit-to-Stand, Arm Circles, Leg Raises</td>
        </tr>
        <tr>
            <td>Hari 5 - Kardio Ringan</td>
            <td>Jalan di Tempat, Seated Marching, Yoga Pemula</td>
        </tr>
    </table>
</div>
</div>
</body>
</html>
