<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PanaCea - Free</title>
    <link rel="icon" type="image/png" href="../static/logoo.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='beginner.css') }}">

</head>
<body>
<div class="container">
    <h1 class="judul">BEGINNER</h1>
<h1><span>Beginner</span> Workout</h1>

    <div class="table-plans">
    <table>
        <tr>
            <th>Hari</th>
            <th>Keterangan</th>
            <th>Latihan</th>
        </tr>
        <tr>
            <td>Hari 1</td>
            <td>Gerakan Ringan</td>
            <td>Jalan Santai, Peregangan, Seated Leg Lifts</td>
        </tr>
        <tr>
            <td>Hari 2</td>
            <td>Latihan Dasar</td>
            <td>Wall Push-Up, Bodyweight Squat, Step Touch</td>
        </tr>
        <tr>
            <td>Hari 3</td>
            <td>Istirahat / Kardio Ringan</td>
            <td>Jalan Cepat, Peregangan</td>
        </tr>
        <tr>
            <td>Hari 4</td>
            <td>Gerakan Sederhana</td>
            <td>Chair Sit-to-Stand, Arm Circles, Leg Raises</td>
        </tr>
        <tr>
            <td>Hari 5</td>
            <td>Kardio Ringan</td>
            <td>Jalan di Tempat, Seated Marching, Yoga Pemula</td>
        </tr>
        <tr>
            <td>Hari 6 - 7</td>
            <td>Rest & Recovery</td>
            <td>Foam Rolling, Cardio ringan, Hiking</td>
        </tr>
    </table>
</div>
</div>
</body>
</html>